
body{
    .contenedor{

        background-color: rgb(63, 63, 63);

        border-radius: 10px;

        padding: 50px;
    }

        h1{
            padding-left: 10%;   
            justify-content: center;
            align-items: center;
            display: flex;  
            font-family:  'Poppins', sans-serif;   
        }

            .texto{
            
                background-color: blanchedalmond;
            }
    
}