



*{box-sizing:border-box}

/* Estilos del header */


.contenedor{


    width: 97%;
    max-width: 1700px;
    margin:10px auto;
    overflow: hidden;
    max-width: 100%;

}

#header {
    gap: 10px;
    margin: 10px ;
    grid-template-columns: 1fr auto auto;
    grid-template-rows: auto;
    background-color: rgb(140, 95, 17);
    padding: 10px;
    display: grid;
    justify-content: space-between;
    align-items: center;
    font-family: sans-serif;
    border-radius: 20px;
    background: linear-gradient(to bottom right, rgb(135, 70, 5), rgb(238, 198, 136));
}


img {
    align-items: center;
    max-width: 100%;
    max-height: 100%;

   }

.logo{
        max-height: 170px;
        max-width: 170px;
        min-width: 70px;
        min-height:70px;

    }
       
    
   


#header .menu ul {
    list-style: none;
    display: flex;
    max-width: 100%;
    max-height: 100%;
}

#header .menu ul li a {


    background-color: rgb(195, 168, 137);
    margin: 0 3px;
    padding: 10px;
    border-radius: 50px;
    border: solid 3px;
    color: black;
    text-decoration: none;
    width: 10px;
    height: 10px;
    font-style: inherit;

   
}

#header .menu ul li a:hover {
    background-color: rgb(110, 110, 110);

}








/* -----------------estilos del main----------------- */


.contenedor-carrito-carne{

    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    padding: 30px;
    padding-left: 5%;
    gap: 60px;
    border-radius: 10px;
}



/* grids prueba */



.texto{

    display: grid;
    grid-template-columns: auto auto auto;
    gap: 5px;
    grid-template-rows: auto auto auto;
    border: solid 2px;
    padding: 20px;
    gap: 20px;
    justify-content: center;
    border-radius: 10px;
}
 


/* FORMULARIO */

.contact_form{


    padding: 10px;
    border-style:solid ;
    border: auto;
    text-align: center;
    justify-content: center;
border-spacing: 10px;


}

/* contacto redes */

.contacto1{



    background-color: rgb(233, 199, 145);
}



.mapa1{
    display: grid;
    align-items: center;
    justify-content: center;
}



.mapa2{
    display:grid;
    align-items: center;
    justify-content: center;
}

/* Footer */


footer{

    margin: 10px ;
    background-color: #e9c791;
    gap: 10px;
    font-size: x-large;
    width: 100%;
    padding: 10px;
    max-width: 97%;
    border-radius: 10px;
    display: grid  ;
   

}


.text-center-xs{

  
    
}



h1{
    max-height: 170px;
    max-width: 170px;

    max-width: 100%;
    max-height: 100%;
    font-family: 'Roboto Slab', serif;
    gap: 10%;
    text-align: center;

}
    

h2{
    text-align: center;
    background-color: #89836d; ;
    font-family: 'Poppins', sans-serif;
}

h3{
    font-family: 'Poppins', sans-serif;
    text-align: center;
     
}

h4{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

h6{
    text-align: center;
    text-shadow: 1px;
     font-size: xx-large;
     font-family: 'Poppins', sans-serif;
}



 
/* responsive */
@media (max-width: 576px){

  

    .h1{
        padding: 10px;
    }
    
    flex-imagen{
        display: flex;
        align-items: center;
        columns: 1;
    }

    .imagencontainer
        {display: grid;
        grid-template-columns: 1 1 1;
        gap: 5px;
        grid-template-rows: auto auto auto;
        align-items: center;}

    #header .menu ul li a
            {
                display: none;

            }
}


@media (min-width: 576px){

    .dropdown {

        display: none;
    }
}

